.outer {
    display: table;
    position: absolute;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}

/* Bootstrap overrides */

html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

    a:focus, a:hover {
        color: #fff;
        text-decoration: none;
    }

header {
    height: 55px;
}

.navbar {
    font-size: 0.85rem;
    background-color: #1175b9;
    padding: 0;
}

.navbar-brand {
    font-size: 1.5rem;
}

.card-img-overlay {
    top: inherit;
    background: rgba(0, 0, 0, 0.6);
}

.card-columns {
    text-align: center;
}

    .card-columns > .card {
        border: 0;
        width: 300px;
        margin-bottom: 1rem;
    }

@media (min-width: 576px) {
    .card-columns > .card {
        margin-bottom: 3rem;
    }
}

.navbar-toggler {
    color: #fff;
}

button:hover {
    cursor: pointer;
}

.navbar-nav {
    background: #1175b9;
}

.nav-item:focus, .nav-item:hover {
    background-color: #0c6bab;
}

footer {
    background-color: #1175b9;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    color: #fff;
}

    footer p {
        line-height: 35px;
        margin: 0;
    }

.fa-angle-left {
    color: #008cba;
}
