@model UcherMBlog.ViewModels.Web.ContactViewModel
@{
    ViewBag.Title = "Contact";
}
@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
}
<div class="row" ng-app>
    <div class="col-md-8 col-md-offset-2">
        <form method="post" action="?" novalidate name="contactForm">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Title"></label>
                <input asp-for="Title" name="title" ng-model="vm.title" class="form-control" required />
                <span ng-show="contactForm.title.$error.required" class="text-warning">Title is required.</span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="email" name="email" ng-model="vm.email" class="form-control" required />
                <span ng-show="contactForm.email.$error.required" class="text-warning">E-mail is required.</span>
                <span ng-show="contactForm.email.$error.email" class="text-warning">E-mail not valid.</span>
            </div>

            <div class="form-group">
                <label asp-for="Message"></label>
                <textarea cols="40" rows="20" asp-for="Message" name="message" ng-model="vm.message" class="form-control" required ></textarea>
                <span ng-show="contactForm.message.$error.required" class="text-warning">Message is required.</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-success" ng-disabled="!contactForm.$valid" />
                <a asp-controller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
            </div>
        </form>
    </div>
</div>