@model IEnumerable<UcherMBlog.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="row squareContainer center-block">
        @foreach (var item in Model)
        {
            <div class="square btn btn-success col-xs-4 text-center">@item.Name</div>
            <div class="square col-xs-4"></div>
        }
    </div>
</div>