@model IEnumerable<UcherMBlog.Models.Category>
@{
    ViewData["Title"] = "Home Page";
}

@section scripts
{
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/angular-route/angular-route.min.js"></script>
    <script src="/lib/angular-animate/angular-animate.min.js"></script>
    <script src="/js/app-blog.js"></script>
    <script src="/js/categoriesController.js"></script>
    <script src="/js/articlesController.js"></script>
}
<div ng-app="app-blog">
    <div ng-view class="inner-page"></div>
</div>
