<header role="banner" itemscope itemtype="http://schema.org/WPHeader">
        <nav class="navbar navbar-expand-lg fixed-top">
            <a class="navbar-brand ml-5" [routerLink]="['/']" itemprop="name">Mateusz Ucher - Blog</a>
            <button class="navbar-toggler mr-3" type="button" data-toggle="collapse" data-target="#navbarToggler"
                    aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                ☰
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mr-5 text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="https://pl.linkedin.com/in/ucherm">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/metem">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/mateusz.ucher">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
</header>