@import '../variables.scss';

header {
  height: $header-height;
}

.navbar {
  font-size: 0.85rem;
  background-color: $blue-denim;
  padding: 0;
  @include box-shadow(0, 0, 20px, $gray-alto);
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-item:focus, .nav-item:hover {
  background-color: $blue-denim-dark;
}
