<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>New article</h2>
        <form method="post" novalidate>
            <div class="form-group">
                <label>Title</label>
                <input class="form-control"/>
            </div>
            <div class="form-group">
                <label>Category</label>
                <select class="form-control"></select>
            </div>
            <div class="form-group">
                <label>Content</label>
                <app-text-editor [elementId]="article-create-editor" (onEditorKeyup)="keyupHandlerFunction($event)"></app-text-editor>
            </div>
            <div class="form-group">
                <input type="submit" value="Add article" class="btn btn-success"/>
                <a class="btn btn-info" [routerLink]="['/']">Cancel</a>
            </div>
        </form>
    </div>
</div>