<header class="navbar navbar-fixed-top">
    <div class="container">
        <nav>
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Mateusz Ucher Blog</a>
            <div>
                <ul class="nav navbar-nav float-xs-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Articles" asp-action="AddArticle">Add article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="ChangePassword">Change password</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Auth" asp-action="Login">Login</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" href="https://pl.linkedin.com/in/ucherm"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/mateusz.ucher"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Contact"><i class="fa fa-envelope"></i> Kontakt</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>