@using System.Threading.Tasks
@using UcherMBlog.Models
@model UcherMBlog.ViewModels.Web.ArticleViewModel


@{
    ViewBag.Title = "New article";
}

@section scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/tinymce/tinymce.min.js"></script>
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink link image lists charmap print preview table'
    });
</script>
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <h2>New article</h2>
        <form method="post" novalidate>
            @Html.AntiForgeryToken()
            @if (ViewBag.Message != null)
            {
                <div>@ViewBag.Message</div>
            }
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId">Category</label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.Categories, nameof(Category.Id), nameof(Category.Name)))" class="form-control"></select>
                <span asp-validation-for="CategoryId" class="text-muted"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content">Content</label>
                <textarea cols="40" rows="40" asp-for="Content" class="form-control"></textarea>
                <span asp-validation-for="Content" class="text-muted"></span>
            </div>
            <div class="form-group">
                <a asp-controller="Home" asp-action="Index" class="btn btn-default">Cancel</a>
                <input type="submit" value="Add article" class="btn btn-success"/>
            </div>
        </form>
    </div>
</div>
