<div class="row" ng-app>
    <div class="col-md-4 offset-md-4">
        <form method="post" action="?" novalidate name="changePasswordForm">
            <div class="form-group">
                <label>Current password:</label>
                <input type="password" name="currentPassword" class="form-control" required/>
            </div>

            <div class="form-group">
                <label>New password:</label>
                <input type="password" name="newPassword" class="form-control" required/>
            </div>
            <div class="form-group">
                <input type="submit" value="Change password" class="btn btn-success"/>
                <a class="btn btn-info">Cancel</a>
            </div>
        </form>
    </div>
</div>