@import '../../variables.scss';

:host ::ng-deep {
  * {
    color: #000;
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  p {
    margin: 1rem 0;
  }

  a, a:focus, a:hover {
    color: $blue-denim;
    text-decoration: none;
  }
}

.fb-box {
  display: flex;

  .fb-left {
    flex: 1;
  }

  .fb-right > div {
    margin: 10px;
  }
}
