<div class="row">
    <div class="back"><a href="#/"><i class="fa fa-angle-left"></i></a></div>
    <div class="col-md-10 col-md-offset-1">
        <div class="articleEntry" ng-repeat="article in vm.articles">
            <div class="left">
                <span class="creationDate">{{ article.dateCreated | date:'d/M/yyyy' }}</span>
                <span class="author">{{ article.authorName }}</span>
            </div>
            <div class="right">
                <div class="title">
                    <a href="Articles/ViewArticle?category={{vm.category}}&articleId={{article.id}}&articleTitle={{article.title | toValidUrl}}">
                        {{ article.title }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>