<div class="container">
    <div class="row">
        <div class="card-columns">
            <div class="card card-inverse text-center" *ngFor="let article of articles">
                <a [routerLink]="['/article', article.id]">
                    <img class="card-img" src="http://lorempixel.com/300/300/" alt="Card image">
                    <div class="card-img-overlay">
                        <h3 class="card-title">{{ article.title }}</h3>
                        <p class="card-text">{{ article.dateCreated | date:'d/M/yyyy' }} {{ article.authorName }}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>