<header>
    <nav class="navbar fixed-top navbar-toggleable-md">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right mt-2" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                ☰
            </button>
            <a class="navbar-brand" [routerLink]="['/']">Mateusz Ucher Blog</a>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://pl.linkedin.com/in/ucherm">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.facebook.com/mateusz.ucher">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>